@use '../base' as *;

.card {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0.6rem;
  gap: 0.4rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  padding: 0.4rem 0.6rem;
  background-color: var(--transparent-white);

  &:hover {
    background-color: var(--transparent-white-2);
    cursor: pointer;
  }
}
