.split {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  width: 100%;

  :last-child {
    @media (min-width: 70ch) {
      white-space: nowrap;
    }
  }

  .center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .half {
    min-width: 50%;
  }
}
