.large-text-input,
.text-input,
.num-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  font-family: inherit;
  font-size: inherit;
  width: 100%;

  &:focus {
    border-bottom: 2px solid var(--primary-color);
  }

  &::placeholder {
    color: var(--text-color);
    opacity: 0.5;
  }
}

.card:has(.large-text-input) {
  align-items: start;
  .icon {
    margin-top: 0.2rem;
  }
}

.large-text-input {
  resize: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
