@use 'colors' as *;
@use '../abstracts' as *;

* {
  box-sizing: border-box;
  margin: 0;

  transition: all 0.2s ease;
}

body {
  padding: 0;
  margin: 0;

  orphans: 2;

  font-family: $font-family;
  font-variant-ligatures: common-ligatures;

  color: var(--text-color);
  background: var(--bg-color);

  max-width: 100vw;
  overflow-x: hidden;
}

main {
  margin: 0;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
}

h1 {
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  text-align: left;

  @media (max-width: 40rem) {
    font-size: 2.3rem;
  }
}

h2 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  margin: 0.3rem 0;
}

p {
  width: 100%;
  text-align: left;
}

.icon {
  width: 1.4rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0.6rem;
  gap: 0.4rem;
  padding: 0.4rem 0.6rem;

  border-radius: 0.5rem;
  border: none;

  color: var(--button-text-color);
  background-color: var(--button-bg-color);

  font-family: inherit;
  font-size: inherit;
  font-weight: 500;

  &:hover {
    background-color: var(--button-bg-color-hover);
    cursor: pointer;
  }
}

.vertical-stack {
  display: flex;
  flex-direction: column;
}

.clickable {
  cursor: pointer;
}
