:root {
  --text-color: #c5cdfd;
  --bg-color: #0e2c59;

  --button-text-color: #000f3a;
  --button-bg-color: #f3f5ff;
  --button-bg-color-hover: #dde3ff;

  --transparent-white: rgba(255, 255, 255, 0.08);
  --transparent-white-2: rgba(255, 255, 255, 0.16);
}
